<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <link rel='stylesheet' href='/libs/animate.css/animate.min.css'>
    <link rel='stylesheet' href='/libs/font-awesome/css/font-awesome.min.css'>
    <link rel='stylesheet' href='/stylesheets/app.css'>
    <script src="/libs/jquery/dist/jquery.min.js"></script>
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  </head>
  <body>

    <div id="particles-js"></div>

    <a href="#" class="animated fadeInUp show-more"><i class="fa fa-bars"></i></a>

    <header class="toggle-visibility">
      <h1 class="animated fadeInLeft">Andrew Brice</h1>
      <h2 class="animated fadeInRight">UX Developer</h2>
    </header>

    <ul class="animated fadeInUp toggle-visibility">
        <li><a href="https://www.linkedin.com/in/briceandrew"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://github.com/bricea27"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.behance.net/andrewbrice"><i class="fa fa-behance"></i></a></li>
    </ul>

    <section class="bio" style="display:none;">
      <p>Hi there, I'm <a href="https://www.linkedin.com/in/briceandrew">Andrew Brice</a>. I'm a UX Developer with a brackground in Graphic Design, currently building dynamic user interfaces for the wonderful folks at <a href="https://fathomvoice.com">Fathom Voice</a>. When I'm not submerged in code, you'll likely find me biking, playing basketball, or sitting by a campfire with a book and a bourbon.</p>
      <a href="mailto:bricea27@gmail.com" class="get-in-touch"><i class="fa fa-envelope"></i> Let's Get In Touch!</a>
    </section>

    <script src="/javascripts/main.js"></script>
  </body>
</html>
